#routes{
  [rtype=1]{
    line-color:crimson;
    line-width:10;
  }

  [route_id='M2']{
    line-color:green;
  }
  [route_id='M1']{
    line-color:red;
  }
  [route_id='M3']{
    line-color:yellow;
  }
  [route_id='M5']{
    line-color:hotpink;
  }

  [rtype=2]{
    line-color:blue;
  }

  [rtype=3]{
    line-color:orange;
  }
}

#stops{
  marker-width:4;
  marker-fill:black;
  [zoom > 16]{
    text-name:[name];
    text-dy: -10;
    text-face-name: 'Arial';
    text-stroke: black;
    text-fill:white;
    marker-width:5;
  }
}


#fermate_metro {
  marker-width: 5;
  marker-fill: hotpink;

  [zoom > 12]{
    text-name: [FERMATA];
    text-dy: 16;
    text-face-name: 'Arial';
    marker-width: 10;
    text-stroke: black;
    text-fill:white;
  }

  [FERMATA="CORDUSIO"]{
    marker-width: 12;
    marker-fill: crimson;
    stroke-width: 4;
  };

  [FERMATA="LORETO"]{
    marker-width: 15;
    marker-fill: skyblue;
    z-index:10;
  };

};

#ztlbg{
  polygon-fill: lightblue;
  polygon-opacity: 0.4,
  line-color: crimson;

  [zoom > 12]{
    text-name : [NOME_ZTL];
    text-fill: crimson;
    text-face-name: 'Arial';
  }

}
